@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

body {
    background: url('bg.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    font-family: 'Nanum Gothic', sans-serif;
}

button {
    font-family: 'Nanum Gothic', sans-serif;

    border-radius: 20px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border: none;
}

option,select {
    border-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

    border: none;
    font-family: 'Nanum Gothic', sans-serif;
}

.box {
    background-color: rgba(255, 255, 255, 0.479);
}